<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="w-full h-screen bg-zinc-900 text-white">
        <div class="p-10 w-1/2">
      <h1 class="text-4xl my-10 font-semibold">Login into the website</h1>
      <form action="/login" method="post">
  
        <input class="block text-black mt-3 w-full px-3 py-2 rounded-md bg-transprent border-2 border-zinc-700 outline-none type="email" placeholder="email" name="email" />
        <input class="block text-black mt-3 w-full px-3 py-2 rounded-md bg-transprent border-2 border-zinc-700 outline-none type="password" placeholder="password" name="password" />
        <input class="block mt-5 px-5 py-3 bg-blue-500 rounded-md hover:bg-blue-500 cursor-pointer" type="submit" value="Register" />
      </form>
      <a class="mt-10 text-blue-500 block" href="/">Create an account</a>

    </div>
    </div>
</body>
</html>